
<div class="container p-3 bg-dark text-light text-center">
    <form asp-action="Browse" asp-controller="Articles" method="post">
        <input type="text" name="searchText" placeholder="Enter text to search" /> <button>Search</button>
    </form>
</div>